<section class="advantages">
  <div class="container">
    <h2 class="advantages__title">Для кого подойдет «Традиция»(преимушества)</h2>
    <div class="advantages__wrapper"></div>
  </div>
</section>

<style is:global>
  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
</style>
