---
import Tabs from "../widgets/Tabs.astro"

---

<section class="programs">
  <div class="container">
    <h2 class="programs__title">Программа обучения</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In quasi iste
      nobis facere aliquid magnam odit eius <br /> consequuntur necessitatibus sequi
      itaque inventore distinctio, minus at tempore ipsa asperiores pariatur beatae?
    </p>
    <div class="programs__wrapper">
      <Tabs />
    </div>
  </div>
</section>

<style is:global>
  .programs__wrapper {
  }
</style>
