<section class="psychologist">
    <div class="container">
        <h2 class="psychologist__title">Психологическая служба<h2>
        <div class="psychologist__wrapper">
        </div>
    </div>
</section>