---
interface News {
  title: string;
  date: string;
  img: string;
}

const news: News[] = [
  {
    title: "День открытых дверей 2025",
    date: "25 сентября 2025",
    img: "../images/foto/main/main3.png",
  },
  {
    title: "1 сентябя 2025",
    date: "1 сентября 2025",
    img: "../images/foto/main/main3.png",
  },
  {
    title: "1 сентябя 2025",
    date: "1 сентября 2025",
    img: "../images/foto/main/main3.png",
  }
];
---

<section class="team">
    <div class="container">
        <h2 class="team__title">Наша команда<h>
        <div class="team__wrapper">
        </div>
    </div>
</section>