---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="junior">
    <div class="container">
      <h1>Начальная школа</h1>
    </div>
  </section>
</MainLayout>
