---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="preschool">
    <div class="container">
      <h1>Подготовка к школе</h1>
    </div>
  </section>
</MainLayout>