<div id="overlay" class="overlay"></div>

<script>
  (function () {
    const popupMenu = document.getElementById("popupMenu");
    const modal = document.getElementById("modal");
    const overlay = document.getElementById("overlay");
    const body = document.body;

    overlay?.addEventListener("click", () => {
      overlay?.style.setProperty("display", "none");
      body?.classList.remove("body-no-scrool");
      popupMenu?.classList.remove("popup-menu__active");
      modal?.style.setProperty("display", "none");
    });
  })();
</script>

<style is:global>
  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
</style>
